{% extends "@App/Layouts/layout_base.html.twig" %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/custom/bootbox.min.js')}}"></script>
	<script src="{{ asset('assets/js/custom/melody.js')}}"></script>
{% endblock %}

{% block content %}
	<div class="default-box col-lg-8">
		<div class="melody-item">
			<div class="avatar">
				{% if melody.user.image == null %}
					<img src="{{( asset ('assets/images/default.png'))}}"/>
				{% else %}
					<img src="{{( asset ('uploads/users/'~melody.user.image))}}"/>
				{% endif%}
			</div>
			<div class="melody-content">
				<p>
					<a class="melody-name-link" href="{{ path('user_profile', {'username': melody.user.username}) }}">
						{{melody.user.name}} {{melody.user.surname}}
					</a>
					-
					{{melody.user.username}}
					<br/>
					<span class="melody-date">
						{{melody.creationDate|time}}
					</span>
				</p>

				<p>{{melody.name}}</p>
				<div><audio id="melody-midi" controls preload="metadata">
						<source src="{{( asset ('assets/images/funk.mid'))}}" type="audio/mp3">
						Your browser does not support the audio element.
					</audio>
				</div>
				<div class="float-right melody-options">
					{% if(melody.user.id is defined) and (melody.user.id == app.user.id) %}
						<button data-id="{{melody.id}}" class="btn btn-warning btn-delete-melody">
							<i  class="fa fa-trash" aria-hidden="true"></i>
						</button>
					{% endif %}
					<button data-id="{{melody.id}}" 
							class="
							{% if app.user|liked(melody) == true %}
								d-none
							{% endif %}
							btn btn-outline-danger btn-like
							">
						<i  class="fa fa-heart" aria-hidden="true"></i>
					</button>
					<button data-id="{{melody.id}}" 
							class="
							{% if app.user|liked(melody) == false %}
								d-none
							{% endif %}
							btn btn-danger btn-unlike
							">
						<i  class="fa fa-heart" aria-hidden="true"></i>
					</button>
				</div>
				<div class="ec-stars-wrapper">
					<a href="#" class="a-star" data-id="{{melody.id}}" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
					<a href="#" class="a-star" data-id="{{melody.id}}" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
					<a href="#" class="a-star" data-id="{{melody.id}}" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
					<a href="#" class="a-star" data-id="{{melody.id}}" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
					<a href="#" class="a-star" data-id="{{melody.id}}" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
				</div>
			</div>
		</div>
	</div>
	<div class="default-box col-lg-8">

		<br/>
		{% for comment in pagination %}
			<div class="melody-item">
				<div class="avatar">
					{% if comment.user.image == null %}
						<img src="{{( asset ('assets/images/default.png'))}}"/>
					{% else %}
						<img src="{{( asset ('uploads/users/'~comment.user.image))}}"/>
					{% endif%}
				</div>
				<div class="melody-content">
					<p>
						<a class="melody-name-link" href="{{ path('user_profile', {'username': comment.user.username}) }}">
							{{comment.user.name}} {{comment.user.surname}}
						</a>
						-
						{{comment.user.username}}
						{% if(comment.user.id is defined) and (comment.user.id == app.user.id) %}
							<button data-id="{{comment.id}}" class="btn btn-sm btn-danger btn-delete-comment float-right">
								<i  class="fa fa-times" aria-hidden="true"></i>
							</button>
						{% endif %}
						<br/>
					</p>
					<p>{{comment.text}}</p>

				</div>
				<hr/>

			</div>
		{% endfor %}
		<div class="comment-box">
			{{form(form)}}
		</div>
		<hr/>
		<div class="clearfix"></div>
	</div>
{% endblock %}
